services:
  cam-client:
    build:
      dockerfile: Dockerfile
    container_name: cam-client
    devices:
      - ${CLIENT_VIDEO_DEVICE}:/dev/video0
    environment:
      - CLIENT_STREAM_RESOLUTION=${CLIENT_STREAM_RESOLUTION}
      - CLIENT_LOCAL_ENCODER=${CLIENT_LOCAL_ENCODER}
      - CLIENT_LOCAL_ENCODER_CRF=${CLIENT_LOCAL_ENCODER_CRF}
      - CLIENT_LOCAL_ENCODER_PRESET=${CLIENT_LOCAL_ENCODER_PRESET}
      - TELEGRAM_TOKEN=${TELEGRAM_TOKEN}
      - TELEGRAM_CHAT_ID=${TELEGRAM_CHAT_ID}
    ports:
      - "80:80"
      - "8080:8080"
      - "9001:9001"
    volumes:
      - ./motion_detector_config.txt:/motion_detector_config.txt
      - ./telegram_ip_cache.txt:/telegram_ip_cache.txt
      - ./archive:/archive
    restart: unless-stopped
