

services:
  # --------------------------
  # Tailscale sidecar
  # --------------------------
  tailscale-sc-client:
    image: tailscale/tailscale:latest
    container_name: tailscale-sc-client
    hostname: srt-client
    environment:
      - TS_AUTHKEY=${TS_AUTHKEY_CLIENT}
      - TS_STATE_DIR=/var/lib/tailscale
    volumes:
      - tailscale-state-client:/var/lib/tailscale
    devices:
      - /dev/net/tun:/dev/net/tun
    cap_add:
      - NET_ADMIN
    restart: unless-stopped
    labels:
      - watchtower.group=client
      - com.centurylinklabs.watchtower.enable=true

  # --------------------------
  # SRT Live Client
  # --------------------------
  srt-client:
    image: alaamr/srt-ts-client:latest
    container_name: srt-client
    network_mode: service:tailscale-sc-client
    depends_on:
      - tailscale-sc-client
    restart: unless-stopped
    labels:
      - watchtower.group=client
      - com.centurylinklabs.watchtower.enable=true
    devices:
      - ${CLIENT_INPUT_DEVICE}:/dev/video0
    environment:
      - SRT_PORT=1936
      - CLIENT_STREAM_RESOLUTION=${CLIENT_STREAM_RESOLUTION}
      - CLIENT_LOCAL_ENCODER=${CLIENT_LOCAL_ENCODER}
      - CLIENT_LOCAL_ENCODER_CRF=${CLIENT_LOCAL_ENCODER_CRF}
      - CLIENT_LOCAL_ENCODER_PRESET=${CLIENT_LOCAL_ENCODER_PRESET}
    volumes:
      - ./recordings_client:/recordings

  # --------------------------
  # Watchtower for auto-updates
  # --------------------------
  watchtower-client:
    image: containrrr/watchtower:latest
    container_name: watchtower-client
    environment:
      - DOCKER_API_VERSION=1.52 # Watchtower complains otherwise, see https://github.com/containrrr/watchtower/issues/2126
    command:
      - "--label-enable"
      - "--scope"
      - "server"
      - "--cleanup"
      - "--interval"
      - "60"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    restart: unless-stopped

volumes:
  tailscale-state-client:
