

services:
  # --------------------------
  # Tailscale sidecar
  # --------------------------
  tailscale-sc-client:
    image: tailscale/tailscale:latest
    container_name: tailscale-sc-client
    hostname: srt-client
    environment:
      - TS_AUTHKEY_CLIENT=${TS_AUTHKEY_CLIENT}
      - TS_STATE_DIR=/var/lib/tailscale
    volumes:
      - tailscale-state:/var/lib/tailscale
    devices:
      - /dev/net/tun:/dev/net/tun
    cap_add:
      - NET_ADMIN
      - SYS_MODULE # TODO: Do I need this?
    restart: unless-stopped
    labels:
      - watchtower.group=client
      - com.centurylinklabs.watchtower.enable=true

  # --------------------------
  # SRT Live Client
  # --------------------------
  srt-client:
    #image: ghcr.io/alaamroue/srt-tailscale-client:latest
    build:
      context: ./../client
    container_name: srt-client
    network_mode: service:tailscale-sc-client # Share network namespace with tailscale-sc-client
    depends_on:
      - tailscale-sc-client
    restart: unless-stopped
    labels:
      - watchtower.group=client
      - com.centurylinklabs.watchtower.enable=true
    #volumes:
    #  - ./recordings:/recordings
    environment:
      - SRT_PORT=5000

  # --------------------------
  # Watchtower for auto-updates
  # --------------------------
  watchtower-client:
    image: containrrr/watchtower:latest
    container_name: watchtower-client
    environment:
      - DOCKER_API_VERSION=1.52 # Watchtower complains otherwise see https://github.com/containrrr/watchtower/issues/2126
    command:
      - "--label-enable"     # only update containers with the label
      - "--scope"
      - "server"
      - "--cleanup"
      - "--interval"
      - "20"                # In seconds
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    restart: unless-stopped

volumes:
  tailscale-state:
